name: Test
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Build container image
        run: docker build -t gtest .
      - name: Test in container
        run: docker run -t gtest
